<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login HTML</title>
    <meta name="description" content="creando un login">
    <link rel="stylesheet" href="../login.css">
</head>
<body>
    <article class="login">
        <h1 class="titulo">Iniciar Sesion</h1>
        <form class="form-login" action="" method="post">
            <label for="nombre">Username:</label><br>
            <input type="text" id="nombre" name="username" placeholder="Escribe tu nombre" required><br>
            <label for="passwd">Password:</label><br>
            <input type="password" id="passwd" name="contraseña" placeholder="Escribe tu contraseña" required>
            <input type="submit" name="Enviar">
        </form>
    </article>
</body>
</html>